*{
    font-family: 'Inter', sans-serif;
    padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

a {
    color: #fff;
}

.background-green-01 {
    background: rgba(33, 54, 44, 0.92);
}

.background-green-02 {
    background: rgba(0, 152, 69, 0.85);
}

.btn-green {
    font-size: 14px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background-color: #009845;
    transition: 0.5s;
}

.btn-green:hover {
    transform: scale(1.1);
    transition: 0.5s;
    font-weight: 600;
}

header {
    background-image: url('/src/header-background.png');
    color: #009845;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

header nav ul {
    display: flex;
    margin: 0px 190px;
}

header nav ul li {
    margin: 10px;
}

header nav ul a:hover {
    color: #94C11F;
    transition: 0.5s;
}

.dot {
    width: 74px;
    height: 74px;
    background-color: #21362C;
}
